################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C# Example/.vs
/C# Example/C# Example/bin/Debug/net6.0
/C# Example/C# Example/obj
/Console/.vs
/Console/C# Example/bin/Debug/net6.0
/Console/C# Example/obj
/Forms/C# Example/.vs
/Forms/C# Example/bin/Debug/net6.0-windows
/Forms/C# Example/obj
/Forms/.vs
