################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C# Example/.vs
/C# Example/C# Example/bin/Debug/net6.0
/C# Example/C# Example/obj
